# **ğŸŒ World Suicide Mortality Analysis (2001â€“2021)**

## **Table of Content**
1. [INTRO](#-introduction)
1. [OBJECTIVE](#-objectives)
1. [DATA SOURCE](#-data-source)
1. [KEY FINDINGS](#-key-findings)
1. [CONCLUSION](#-conclusion)

### **ğŸ“˜ Introduction**

This project explores global suicide mortality trends between 2001 and 2021 using publicly available datasets.
The goal is to understand how suicide rates vary across countries, identify high-risk regions, and observe how patterns changed during significant global events such as the COVID-19 pandemic.

Using Python (Pandas), the analysis examines data quality, computes country-level statistics, and extracts insights relevant for public health, mental health advocacy, and global policy research.

---

### **ğŸ¯ Objectives**

The main objectives of this analysis are:
1. Assess Data Quality
    - Check for duplicate entries
    - Identify missing values

2. Country-Level Analysis
    - Determine the number of countries represented
    - Find each country's highest recorded suicide mortality rate
    - Identify the country with the overall highest suicide rate

3. Trend Analysis
    - Determine Nigeria's highest suicide rate and the year it occurred
    - Compare suicide rates of Nigeria and Niger for year 2015
    - Identify which country had the highest suicide mortality rate during the COVID-19 year (2020)

4. Threshold-Based Insights
    - Count how many countries recorded suicide rates greater than 20 between 2005 and 2010

---

### ğŸ“‚ **Data Source**

This data was download from [Kaggle](kaggle.com)\
Columns included:`Country Name`,`Country Code`,`Year`,`Suicide Rate`

---

### **ğŸ” Key Findings**

> 1. Data Quality

    Duplicates found: 1,892 rows

    Missing values: 0 (dataset is complete)

> 2. Nigeria's Suicide Rate

    Nigeria's highest recorded suicide mortality rate occurred in 2001

    Highest value: 5.37

> 3. Countries Represented

    Total number of unique countries: 233

> 4. Highest Suicide Rate (Global)

    Country: Russian Federation

    Year: 2001

    Rate: 51.79 (highest in the entire dataset)

> 5. Nigeria vs Niger (2015)

    Nigeria 2015: 4.46

    Niger 2015: No available data

    (Nigeria recorded the higher rate for that year among the two as no 2015 data for Niger.)

> 6. COVID-19 Year Analysis (2020)

    Country with highest suicide mortality rate: Suriname â€“ 28.47

> 7. Highest Mortality Rate by Country

    A full table was generated showing each country's maximum suicide rate between 2001â€“2021.

> 8. Countries with Suicide Rate > 20 (2005â€“2010)

    Number of countries that exceeded the threshold: 23


---

### **ğŸ“Œ Conclusion**

This analysis provides a clear overview of suicide mortality patterns across the globe, highlighting regional disparities and notable periods such as the COVID-19 pandemic.
The dataset is clean, comprehensive, and reveals significant differences in suicide risk across countries, which can guide further research into mental health trends and contributing socio-economic factors.

### **ğŸ˜ Coding**

In [18]:
# Data Loading
import pandas as pd
df = pd.read_excel(r"data\world_suicide.xlsx")
df.head()

# 1. Check for Duplicate Entries
duplicates = df.duplicated().sum()
print("No of duplicate rows: ", duplicates)
df[df.duplicated()].head()

# 2. Check for missing values
missing_col = df.isnull().sum()
print("Missing values per column:\n", missing_col)
total_miss = missing_col.sum()
print("\nTotal missing values: ", total_miss)


# 3. Nigeria's highest suicide motality rate
# filter for nigeria rows:
nigeria_df = df[df["Country Name"] == "Nigeria"]
nigeria_df
if not nigeria_df.empty:
    nigeria_highest_row = nigeria_df.loc[nigeria_df["Suicide Rate"].idxmax()]
    print(f"\nNigeria's highest suicide rate:\n {nigeria_highest_row}")
else:
    print("Nigeria not found in Dataset.")

# 4. No of countries in the dataset
num_ctry = df["Country Name"].nunique()
print(f"\nNumber of unique countries: {num_ctry}")

# 5. Country with the highest SMR
overall_highest_row = df.loc[df["Suicide Rate"].idxmax()]
print(f"\n Country with the highest Suicide Rate:\n{overall_highest_row}")

# 6. Compare NIGERIA VS NIGER(Year 2015)
nigeria_2015 = df[(df["Country Name"] == "Nigeria") & (df["Year"] == "2015")] ["Suicide Rate"]
niger_2015 = df[(df["Country Name"] == "Niger") & (df["Year"] == "2015")] ["Suicide Rate"]

print("Nigeria 2015:", float(nigeria_2015.iloc[0]) if not nigeria_2015.empty else "No data")
print("Niger 2015:", float(niger_2015.iloc[0]) if not niger_2015.empty else "No data")

# 7. Highest Suicide Rate in COVID-19 year(2020)
covid_df = df[df["Year"] == 2020]
covid_highest_row = covid_df.loc[covid_df["Suicide Rate"].idxmax()]
print(f"\nHighest suicide rate in 2020 (COVID-19):\n {covid_highest_row}")

# 8. Highest suicide rate for each country
highest_per_ctry = (df.groupby("Country Name")["Suicide Rate"].max().reset_index()
                    .rename(columns={"Suicide Rate":"Max Suicide Rate"}))
display(highest_per_ctry.head(10))

# 9. Countries with Suicide Rate > 20 btw 2005 & 2010
filtering = df[
    (df["Year"] >= 2005) & (df["Year"] <= 2010) & (df["Suicide Rate"] > 20)
]
ctry_get20 = filtering["Country Name"].nunique()
print("No of Countries with rate > 20 btw 2005 & 2010: ", ctry_get20)

#10. ADDITIONAL QUESTION
# What is the trend of Nigeria Suicide Rate?
nigeria_trend = nigeria_df[
    ["Year","Suicide Rate"]
].sort_values("Year")
nigeria_trend

No of duplicate rows:  1892
Missing values per column:
 Country Name    0
Country Code    0
Year            0
Suicide Rate    0
dtype: int64

Total missing values:  0

Nigeria's highest suicide rate:
 Country Name    Nigeria
Country Code        NGA
Year               2001
Suicide Rate       5.37
Name: 1056, dtype: object

Number of unique countries: 233

 Country with the highest Suicide Rate:
Country Name    Russian Federation
Country Code                   RUS
Year                          2001
Suicide Rate                 51.79
Name: 1401, dtype: object
Nigeria 2015: No data
Niger 2015: No data

Highest suicide rate in 2020 (COVID-19):
 Country Name    Suriname
Country Code         SUR
Year                2020
Suicide Rate       28.47
Name: 4721, dtype: object

                  Country Name  Max Suicide Rate
0                  Afghanistan          4.380000
1  Africa Eastern and Southern          7.953714
2   Africa Western and Central          5.871657
3                      Albania          7.090000
4                      Algeria          4.180000
5                       Angola          9.120000
6          Antigua and Barbuda          2.040000
7                   Arab World          3.149901
8                    Argentina         10.330000
9                      Armenia          6.880000

No of Countries with rate > 20 btw 2005 & 2010:  23

      Year  Suicide Rate
896   2000          5.27
1056  2001          5.37
1618  2001          5.37
2219  2002          5.21
605   2004          5.26
3790  2006          5.20
2604  2008          5.13
4211  2009          5.20
2972  2014          4.62
1009  2014          4.62
1955  2014          4.62
3652  2015          4.46
1589  2016          4.43
4124  2016          4.43
2529  2018          4.44
647   2018          4.44
3278  2020          4.56
2919  2020          4.56
2904  2020          4.56
4465  2020          4.56

In [16]:
df[df["Country Name"]=="Nigeria"]["Year"].unique()
df[df["Country Name"]=="Niger"]["Year"].unique()

array([2005, 2006, 2002, 2017, 2020, 2012, 2001, 2011, 2003, 2016, 2009,
       2008, 2004])

In [8]:
for code in range(0x1F600, 0x1F900):
    print(chr(code), end=" ")
 

# import emoji
# all_emojis = emoji.EMOJI_DATA
# for e in all_emojis:
#     print(e)

ğŸ˜€ ğŸ˜ ğŸ˜‚ ğŸ˜ƒ ğŸ˜„ ğŸ˜… ğŸ˜† ğŸ˜‡ ğŸ˜ˆ ğŸ˜‰ ğŸ˜Š ğŸ˜‹ ğŸ˜Œ ğŸ˜ ğŸ˜ ğŸ˜ ğŸ˜ ğŸ˜‘ ğŸ˜’ ğŸ˜“ ğŸ˜” ğŸ˜• ğŸ˜– ğŸ˜— ğŸ˜˜ ğŸ˜™ ğŸ˜š ğŸ˜› ğŸ˜œ ğŸ˜ ğŸ˜ ğŸ˜Ÿ ğŸ˜  ğŸ˜¡ ğŸ˜¢ ğŸ˜£ ğŸ˜¤ ğŸ˜¥ ğŸ˜¦ ğŸ˜§ ğŸ˜¨ ğŸ˜© ğŸ˜ª ğŸ˜« ğŸ˜¬ ğŸ˜­ ğŸ˜® ğŸ˜¯ ğŸ˜° ğŸ˜± ğŸ˜² ğŸ˜³ ğŸ˜´ ğŸ˜µ ğŸ˜¶ ğŸ˜· ğŸ˜¸ ğŸ˜¹ ğŸ˜º ğŸ˜» ğŸ˜¼ ğŸ˜½ ğŸ˜¾ ğŸ˜¿ ğŸ™€ ğŸ™ ğŸ™‚ ğŸ™ƒ ğŸ™„ ğŸ™… ğŸ™† ğŸ™‡ ğŸ™ˆ ğŸ™‰ ğŸ™Š ğŸ™‹ ğŸ™Œ ğŸ™ ğŸ™ ğŸ™ ğŸ™ ğŸ™‘ ğŸ™’ ğŸ™“ ğŸ™” ğŸ™• ğŸ™– ğŸ™— ğŸ™˜ ğŸ™™ ğŸ™š ğŸ™› ğŸ™œ ğŸ™ ğŸ™ ğŸ™Ÿ ğŸ™  ğŸ™¡ ğŸ™¢ ğŸ™£ ğŸ™¤ ğŸ™¥ ğŸ™¦ ğŸ™§ ğŸ™¨ ğŸ™© ğŸ™ª ğŸ™« ğŸ™¬ ğŸ™­ ğŸ™® ğŸ™¯ ğŸ™° ğŸ™± ğŸ™² ğŸ™³ ğŸ™´ ğŸ™µ ğŸ™¶ ğŸ™· ğŸ™¸ ğŸ™¹ ğŸ™º ğŸ™» ğŸ™¼ ğŸ™½ ğŸ™¾ ğŸ™¿ ğŸš€ ğŸš ğŸš‚ ğŸšƒ ğŸš„ ğŸš… ğŸš† ğŸš‡ ğŸšˆ ğŸš‰ ğŸšŠ ğŸš‹ ğŸšŒ ğŸš ğŸš ğŸš ğŸš ğŸš‘ ğŸš’ ğŸš“ ğŸš” ğŸš• ğŸš– ğŸš— ğŸš˜ ğŸš™ ğŸšš ğŸš› ğŸšœ ğŸš ğŸš ğŸšŸ ğŸš  ğŸš¡ ğŸš¢ ğŸš£ ğŸš¤ ğŸš¥ ğŸš¦ ğŸš§ ğŸš¨ ğŸš© ğŸšª ğŸš« ğŸš¬ ğŸš­ ğŸš® ğŸš¯ ğŸš° ğŸš± ğŸš² ğŸš³ ğŸš´ ğŸšµ ğŸš¶ ğŸš· ğŸš¸ ğŸš¹ ğŸšº ğŸš» ğŸš¼ ğŸš½ ğŸš¾ ğŸš¿ ğŸ›€ ğŸ› ğŸ›‚ ğŸ›ƒ ğŸ›„ ğŸ›… ğŸ›† ğŸ›‡ ğŸ›ˆ ğŸ›‰ ğŸ›Š ğŸ›‹ ğŸ›Œ ğŸ› ğŸ› ğŸ› ğŸ› ğŸ›‘ ğŸ›’ ğŸ›“ ğŸ›” ğŸ›• ğŸ›– ğŸ›— ğŸ›˜ ğŸ›™ ğŸ›š ğŸ›› ğŸ›œ ğŸ› ğŸ› ğŸ›Ÿ ğŸ›  ğŸ›¡ ğŸ›¢ ğŸ›£ ğŸ›¤ ğŸ›¥ ğŸ›¦ ğŸ›§ ğŸ›¨ ğŸ›© ğŸ›ª ğŸ›« ğŸ›¬ ğŸ›­ ğŸ›® ğŸ›¯ ğŸ›° ğŸ›± ğŸ›² ğŸ›³ ğŸ›´ ğŸ›µ ğŸ›¶ ğŸ›· ğŸ›¸ ğŸ›¹ ğŸ›º ğŸ›» ğŸ›¼ ğŸ›½ ğŸ›¾ ğŸ›¿ ğŸœ€ ğŸœ ğŸœ‚ ğŸœƒ ğŸœ„ ğŸœ… ğŸœ† ğŸœ‡ ğŸœˆ ğŸœ‰ ğŸœŠ ğŸœ‹ ğŸœŒ ğŸœ ğŸœ ğŸœ ğŸœ ğŸœ‘ ğŸœ’ ğŸœ“ ğŸœ” ğŸœ• ğŸœ– ğŸœ— ğŸœ˜ ğŸœ™ ğŸœš ğŸœ› ğŸœœ ğŸœ ğŸœ ğŸœŸ ğŸœ  ğŸœ¡ ğŸœ¢ ğŸœ£ ğŸœ¤ ğŸœ¥ ğŸœ¦ ğŸœ§ ğŸœ¨ ğŸœ© ğŸœª ğŸœ« ğŸœ¬ ğŸœ­ ğŸœ® ğŸœ¯ ğŸœ° ğŸœ± ğŸœ² ğŸœ³ ğŸœ´ ğŸœµ ğŸœ¶ ğŸœ· ğŸœ¸ ğŸœ¹ ğŸœº ğŸœ» ğŸœ¼ ğŸœ½ ğŸœ¾ ğŸœ¿ ğŸ€ ğŸ ğŸ‚ ğŸƒ ğŸ„ ğŸ… ğŸ† ğŸ‡ ğŸˆ ğŸ‰ ğŸŠ ğŸ‹ ğŸŒ ğŸ ğŸ ğŸ ğŸ ğŸ‘ ğŸ’ ğŸ“ ğŸ” ğŸ• ğŸ– ğŸ— ğŸ˜ ğŸ™ ğŸš ğŸ› ğŸœ ğŸ ğŸ ğŸŸ ğŸ  ğŸ¡ ğŸ¢ ğŸ£ ğŸ¤ ğŸ¥ ğŸ¦ ğŸ§ ğŸ¨ ğŸ© ğŸª ğŸ« ğŸ¬ ğŸ­ ğŸ® ğŸ¯ ğŸ° ğŸ± ğŸ² ğŸ³ ğŸ´ ğŸµ ğŸ¶ ğŸ· ğŸ¸ ğŸ¹ ğŸº ğŸ» ğŸ¼ ğŸ½ ğŸ¾ ğŸ¿ ğŸ€ ğŸ ğŸ‚ ğŸƒ ğŸ„ ğŸ… ğŸ† ğŸ‡ ğŸˆ ğŸ‰ ğŸŠ ğŸ‹ ğŸŒ ğŸ ğŸ ğŸ ğŸ ğŸ‘ ğŸ’ ğŸ“ ğŸ” ğŸ• ğŸ– ğŸ— ğŸ˜ ğŸ™ ğŸš ğŸ› ğŸœ ğŸ ğŸ ğŸŸ ğŸ  ğŸ¡ ğŸ¢ ğŸ£ ğŸ¤ ğŸ¥ ğŸ¦ ğŸ§ ğŸ¨ ğŸ© ğŸª ğŸ« ğŸ¬ ğŸ­ ğŸ® ğŸ¯ ğŸ° ğŸ± ğŸ² ğŸ³ ğŸ´ ğŸµ ğŸ¶ ğŸ· ğŸ¸ ğŸ¹ ğŸº ğŸ» ğŸ¼ ğŸ½ ğŸ¾ ğŸ¿ ğŸŸ€ ğŸŸ ğŸŸ‚ ğŸŸƒ ğŸŸ„ ğŸŸ… ğŸŸ† ğŸŸ‡ ğŸŸˆ ğŸŸ‰ ğŸŸŠ ğŸŸ‹ ğŸŸŒ ğŸŸ ğŸŸ ğŸŸ ğŸŸ ğŸŸ‘ ğŸŸ’ ğŸŸ“ ğŸŸ” ğŸŸ• ğŸŸ– ğŸŸ— ğŸŸ˜ ğŸŸ™ ğŸŸš ğŸŸ› ğŸŸœ ğŸŸ ğŸŸ ğŸŸŸ ğŸŸ  ğŸŸ¡ ğŸŸ¢ ğŸŸ£ ğŸŸ¤ ğŸŸ¥ ğŸŸ¦ ğŸŸ§ ğŸŸ¨ ğŸŸ© ğŸŸª ğŸŸ« ğŸŸ¬ ğŸŸ­ ğŸŸ® ğŸŸ¯ ğŸŸ° ğŸŸ± ğŸŸ² ğŸŸ³ ğŸŸ´ ğŸŸµ ğŸŸ¶ ğŸŸ· ğŸŸ¸ ğŸŸ¹ ğŸŸº ğŸŸ» ğŸŸ¼ ğŸŸ½ ğŸŸ¾ ğŸŸ¿ ğŸ € ğŸ  ğŸ ‚ ğŸ ƒ ğŸ „ ğŸ … ğŸ † ğŸ ‡ ğŸ ˆ ğŸ ‰ ğŸ Š ğŸ ‹ ğŸ Œ ğŸ  ğŸ  ğŸ  ğŸ  ğŸ ‘ ğŸ ’ ğŸ “ ğŸ ” ğŸ • ğŸ – ğŸ — ğŸ ˜ ğŸ ™ ğŸ š ğŸ › ğŸ œ ğŸ  ğŸ  ğŸ Ÿ ğŸ   ğŸ ¡ ğŸ ¢ ğŸ £ ğŸ ¤ ğŸ ¥ ğŸ ¦ ğŸ § ğŸ ¨ ğŸ © ğŸ ª ğŸ « ğŸ ¬ ğŸ ­ ğŸ ® ğŸ ¯ ğŸ ° ğŸ ± ğŸ ² ğŸ ³ ğŸ ´ ğŸ µ ğŸ ¶ ğŸ · ğŸ ¸ ğŸ ¹ ğŸ º ğŸ » ğŸ ¼ ğŸ ½ ğŸ ¾ ğŸ ¿ ğŸ¡€ ğŸ¡ ğŸ¡‚ ğŸ¡ƒ ğŸ¡„ ğŸ¡… ğŸ¡† ğŸ¡‡ ğŸ¡ˆ ğŸ¡‰ ğŸ¡Š ğŸ¡‹ ğŸ¡Œ ğŸ¡ ğŸ¡ ğŸ¡ ğŸ¡ ğŸ¡‘ ğŸ¡’ ğŸ¡“ ğŸ¡” ğŸ¡• ğŸ¡– ğŸ¡— ğŸ¡˜ ğŸ¡™ ğŸ¡š ğŸ¡› ğŸ¡œ ğŸ¡ ğŸ¡ ğŸ¡Ÿ ğŸ¡  ğŸ¡¡ ğŸ¡¢ ğŸ¡£ ğŸ¡¤ ğŸ¡¥ ğŸ¡¦ ğŸ¡§ ğŸ¡¨ ğŸ¡© ğŸ¡ª ğŸ¡« ğŸ¡¬ ğŸ¡­ ğŸ¡® ğŸ¡¯ ğŸ¡° ğŸ¡± ğŸ¡² ğŸ¡³ ğŸ¡´ ğŸ¡µ ğŸ¡¶ ğŸ¡· ğŸ¡¸ ğŸ¡¹ ğŸ¡º ğŸ¡» ğŸ¡¼ ğŸ¡½ ğŸ¡¾ ğŸ¡¿ ğŸ¢€ ğŸ¢ ğŸ¢‚ ğŸ¢ƒ ğŸ¢„ ğŸ¢… ğŸ¢† ğŸ¢‡ ğŸ¢ˆ ğŸ¢‰ ğŸ¢Š ğŸ¢‹ ğŸ¢Œ ğŸ¢ ğŸ¢ ğŸ¢ ğŸ¢ ğŸ¢‘ ğŸ¢’ ğŸ¢“ ğŸ¢” ğŸ¢• ğŸ¢– ğŸ¢— ğŸ¢˜ ğŸ¢™ ğŸ¢š ğŸ¢› ğŸ¢œ ğŸ¢ ğŸ¢ ğŸ¢Ÿ ğŸ¢  ğŸ¢¡ ğŸ¢¢ ğŸ¢£ ğŸ¢¤ ğŸ¢¥ ğŸ¢¦ ğŸ¢§ ğŸ¢¨ ğŸ¢© ğŸ¢ª ğŸ¢« ğŸ¢¬ ğŸ¢­ ğŸ¢® ğŸ¢¯ ğŸ¢° ğŸ¢± ğŸ¢² ğŸ¢³ ğŸ¢´ ğŸ¢µ ğŸ¢¶ ğŸ¢· ğŸ¢¸ ğŸ¢¹ ğŸ¢º ğŸ¢» ğŸ¢¼ ğŸ¢½ ğŸ¢¾ ğŸ¢¿ ğŸ£€ ğŸ£ ğŸ£‚ ğŸ£ƒ ğŸ£„ ğŸ£… ğŸ£† ğŸ£‡ ğŸ£ˆ ğŸ£‰ ğŸ£Š ğŸ£‹ ğŸ£Œ ğŸ£ ğŸ£ ğŸ£ ğŸ£ ğŸ£‘ ğŸ£’ ğŸ£“ ğŸ£” ğŸ£• ğŸ£– ğŸ£— ğŸ£˜ ğŸ£™ ğŸ£š ğŸ£› ğŸ£œ ğŸ£ ğŸ£ ğŸ£Ÿ ğŸ£  ğŸ£¡ ğŸ£¢ ğŸ££ ğŸ£¤ ğŸ£¥ ğŸ£¦ ğŸ£§ ğŸ£¨ ğŸ£© ğŸ£ª ğŸ£« ğŸ£¬ ğŸ£­ ğŸ£® ğŸ£¯ ğŸ£° ğŸ£± ğŸ£² ğŸ£³ ğŸ£´ ğŸ£µ ğŸ£¶ ğŸ£· ğŸ£¸ ğŸ£¹ ğŸ£º ğŸ£» ğŸ£¼ ğŸ£½ ğŸ£¾ ğŸ£¿